NEXT_PUBLIC_SUPABASE_URL=https://https://my-game-legacy-o9e57pxvx-dugamedesign-ops-projects.vercel.app.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhjYXFhdHpyZmltamJjZnNweXJsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU5Mzk1MTYsImV4cCI6MjA5MTUxNTUxNn0.9e66wQ1Y2M6MwcilajVwKH7kOp_hmFl5ptifR98OHmk
